.wrapper {
  width: 33%;
  max-width: 500px;
  min-width: 250px;
  margin: 16px auto ;

  .title {
    margin: 16px auto;
    color: var(--el-text-color-regular);
    font-size: 24px;
    font-weight: bold;
  }

  .button {
    width: 100%;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
    color: var(--el-text-color-regular);
    font-size: var(--el-font-size-base);
  }
}

// hide the asterisk for required form item
:deep(.el-form-item__label:before) {
  display: none;
}